.heading {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 30px;
    color: blanchedalmond;
}


.chaps{
    
    display: grid;
  margin-top: 30px;
    text-align: center !important;
    grid-template-columns: 1fr 1fr;

}

body {
    background-color:cadetblue;
    cursor: pointer;
}